</main>
    <footer class="footer">
        <div class="content">
            <div class="container">
                <div class="level social-media is-mobile">
                    <p class="level-item has-text-centered">
                        <a href="https://linkedin.com/in/aarondguyett" target="_blank"><span class="icon"><i class="fab fa-linkedin fa-3x" aria-hidden="true"></i></span></a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="https://instagram.com/aarong_aesthetics" target="_blank"><span class="icon"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></span></a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="https://github.com/guyett92" target="_blank"><span class="icon"><i class="fab fa-github fa-3x" aria-hidden="true"></i></span></a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="https://aarondguyett.com" target="_blank"><span class="icon"><i class="fas fa-columns fa-3x" aria-hidden="true"></i></span></a>
                    </p>
                </div>
            </div>
            <p class="is-size-7 has-text-centered">© 2020 - Aaron Guyett</p>
            <p class="is-size-7">
                Disclaimer: The data or links provided here are for informational purposes only.  The information is not intended to be a substitute for professional medical advice, diagnosis, or treatment.
                Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition or the medications used to treat it.  
                Never disregard professional medical advice or delay in seeking it because of the information provided here. Users of the website do so at their own risk. By continuing to
                use this website, you accept to release Aaron Guyett and all his affiliates from liability, loss, or damage you may incur. Aaron Guyett does not endorse the content on any of the
                links to third-party websites.
            </p>
        </div>
    </footer>
</body>
</html>