<%- include('./partials/header') %>
<section class="hero is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
            About
            </h1>
            <h2 class="subtitle">
            The Whos and Hows
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-light notification">
        <h2 class="title is-2">The Idea & Creator</h2>
        <div class="content is-large">
            <div class="columns">
                <div class="column is-3">
                    <figure class="userAvatar image">
                        <img src="/img/designer.jpeg" alt="The Creator">
                    </figure>
                </div>
                <div class="column is-9">
                The idea of creating a space where people can come together and share their experiences to showcase some of the things
                we don't get to hear about drugs is one that I believe was needed. There are currently no spaces available to share this
                information with one another. Now, people can log on and see what experiences others have had and share their own experiences
                as well. Please, explore and enjoy!
                    <br><br>
                The creator of this web app is a software engineer in San Diego who loves to code and help others.
                </div>

            </div>
            <h2 class="title is-2">Future Plans</h2>
            <div class="columns">
                <div class="column">
                    There are a lot of things that I'd like to add to this website. Some of them include:
                    <ul>
                        <li>A messenger service</li>
                        <li>User page viewing (other users)</li>
                        <li>Drug family pages</li>
                        <li>Descriptions from an API</li>
                        <li>Decreased load time</li>
                        <li>Much, much more...</li>
                    </ul>
                    <p>If you have any comments or requests please contact me using the contact page!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal reg-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img src="/img/designer.jpeg">
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<%- include('./partials/footer') %>