<%- include('./partials/header') %>
<section class="hero is-white is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
            Code of Ethics
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content">
            <h3 class="title is-3">Preface</h3>
            <p>
                Each member of the organization that created this application was required to conduct activity under federal and regional law and maintain compliance with
                various organizations such as the National Association of Boards of Pharmacy. The development team strived to create a place that fosters collaboration, 
                openness, sharing, and honesty. Those values are imbued within each line of code created and are hopefully portrayed to you. In turn, we ask that you
                follow the code of ethics that we follow each day.
            </p>
            <h5 class="title is-5">1. Adhere to Law</h5>
            <p>Comply with all applicable legal requirements and understand the implications behind any action taken on or with this application.</p>
            <h5 class="title is-5">2. Be Honest</h5>
            <p>Educate others about yourself through your posts in an honest fashion. The only person able to monitor the content you post is you.</p>
            <h5 class="title is-5">3. Be Safe</h5>
            <p>
                Prepare yourself accordingly when using products and services and always consult your doctor when making a change to your current medication intake. Violent or
                threatening behavior should not be used. Treat this space as if it were your own.
            </p>
            <h5 class="title is-5">4. Foster Collaboration</h5>
            <p>Respect others in their posts, in email, etc., and share information you expect to be useful.</p>
            <h5 class="title is-5">5. Verify Integrity</h5>
            <p>Create content that withstands the test of time and verify the integrity of anything you contribute.</p>
            <h5 class="title is-5">6. Hold All Accountable</h5>
            <p>Hold yourself and other accountable for their actions by reporting violations and monitoring your conduct.</p>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>