<%- include('../partials/header') %>

<form id="new-form" action="/drugs" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <label>Price</label>
  <input type="text" name="price">
  <label>Generic</label>
  <label>Yes</label>
  <input type="radio" name="generic" value="Yes" id="true">
  <label>No</label>
  <input type="radio" name="generic" value="No" id="false">
  <label>Dosage (mg)</label>
  <input type="text" name="dosage">
  <label>Family</label>
  <select name="family">
      <option value="Antidepressant">Antidepressant</option>
      <option value="Antipsychotic">Antipsychotic</option>
      <option value="Barbituate">Barbituate</option>
      <option value="Benzodiazepine">Benzodiazepine</option>
      <option value="Narcotic">Narcotic</option>
      <option value="Opiate">Opiate</option>
      <option value="Sedative">Sedative</option>
      <option value="Tranquilizer">Tranquilizer</option>
  </select>
  <label>Image URL</label>
  <input type="text" name="image">
  <input type="submit" value="Add Drug">
</form>

<%- include('../partials/footer') %>
